@import url(https://fonts.googleapis.com/css?family=Delius:regular);

body {
  font-family: "Delius";
  font-size: larger;
  margin: 0;
  padding: 0;
  background-color: var(--tertiary-color);
}

:root {
  --primary-color: #eaeef4;
  --secondary-color: #375d75;
  --tertiary-color: rgb(250, 248, 248);
}

.todos__wrapper {
  width: 80%;
  max-width: 700px;
  margin: 50px auto;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.checkbox-todo {
  accent-color: #474c6f;
}

.dark-theme {
  --primary-color: #040a22;
  --secondary-color: #fff;
  --tertiary-color: rgb(3, 3, 3);
}

.icon {
  width: 25px;
  cursor: pointer;
}

.main-title {
  text-align: center;
  margin-bottom: 20px;
  color: var(--secondary-color);
}

.sort-by {
  display: flex;
  justify-self: right;
  padding: 4px 6px;
  background-color: var(--secondary-color);
  font-family: "Delius";
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.todo-wrapper {
  text-decoration: line-through;
  text-decoration-color: #040a22;
  background-color: var(--primary-color);
}

.priority-value {
  margin-left: 5px;
  width: 90px;
}

.todo__input {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: var(--primary-color);
}

.input-title,
.input-text {
  font-family: "Delius";
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  resize: none;
}

.priority {
  padding: 5px 4px;
  background-color: var(--secondary-color);
  font-family: "Delius";
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-todo-button,
.add-todo-button {
  padding: 6px 27px;
  background-color: var(--secondary-color);
  font-family: "Delius";
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.save-todo-button {
  position: absolute;
  margin-left: -80px;
  display: none;
}

.list-container {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
}

.todo-items {
  display: flex;
  word-wrap: break-word;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.todo-items:last-child {
  border-bottom: none;
}

.todo-title {
  margin: 0;
  width: 200px;
  padding-right: 15px;
}

.todo-text {
  margin: 0;
  width: 220px;
}

.remove-todo-button,
.edit-todo-button {
  background-color: var(--secondary-color);
  font-family: "Delius";
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-todo-button {
  padding: 5px 20px;
}

.sort-by:hover,
.add-todo-button:hover,
.priority:hover,
.remove-todo-button:hover,
.edit-todo-button:hover {
  opacity: 0.7;
}
