body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4;
 }
 
 .todo__wrapper {
   width: 80%;
   max-width: 600px;
   margin: 50px auto;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
   padding: 20px;
 }
 
 h2 {
   text-align: center;
   margin-bottom: 20px;
 }
 
 #todo__input {
   display: flex;
   flex-direction: column;
   margin-bottom: 20px;
 }
 
 #input-title,
 #input-text {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   margin-bottom: 10px;
 }
 
 #add-task-button {
   padding: 10px 20px;
   background-color: #4caf50;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 20px;
 }
 
 #add-task-button:hover {
   background-color: #45a049;
 }
 
 #list-container {
   display: flex;
   flex-direction: column;
 }
 
 #list-container div {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   border-bottom: 1px solid #ccc;
 }
 
 #list-container div:last-child {
   border-bottom: none;
 }
 
 #list-container h4 {
   margin: 0;
   flex-grow: 1;
 }
 
 #list-container p {
   margin: 0;
   flex-grow: 2;
 }
 
 .remove-task-button,
 .edit-task-button {
   background-color: #f44336;
   color: #fff;
   border: none;
   border-radius: 5px;
   padding: 5px 10px;
   cursor: pointer;
   margin-left: 10px;
 }
 
 .edit-task-button {
   background-color: #2196f3;
 }
 
 .remove-task-button:hover,
 .edit-task-button:hover {
   opacity: 0.8;
 }
 